* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}