.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Menu Styles */
.app header.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 255, 0.9), rgba(0, 0, 0, 0.8));
}

.app header.menu nav {
  box-sizing: border-box;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app header.menu nav h1 {
  width: 100%;
}

.app header.menu nav .sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.app header.menu nav .sign button {
  height: 36px;
  outline: none;
  width: 100px;
  margin: 5px;
  
}

.app header.menu nav .sign button.primary {
  border-radius: 4px;
  background-color: rgba(95, 35, 0, 1);
  border: none;
}

.app header.menu nav .sign button.primary:hover {
  background-color: rgb(95, 35, 0, 0.7);
  cursor: pointer;
}

.app header.menu nav .sign button.secondary {
  border: none;
  background-color: transparent;
}

.app header.menu nav .sign button.secondary:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Main content Styles */
@keyframes carousel {
  0% {
    background: url('/images/backgrounds/back-1.jpg') no-repeat;
    background-size: cover;
  }
  25% {
    background: url('/images/backgrounds/back-2.jpg') no-repeat;
    background-size: cover;
  }
  50% {
    background: url('/images/backgrounds/back-3.jpg') no-repeat;
    background-size: cover;
  }
  75% {
    background: url('/images/backgrounds/back-4.jpg') no-repeat;
    background-size: cover;
  }
  100% {
    background: url('/images/backgrounds/back-5.jpg') no-repeat;
    background-size: cover;
  }
}

.app main.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: carousel;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Dialog Styles */ 
.dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.dialog .content {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.7));
}

.dialog main form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.dialog main form .row {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.dialog main form .row input {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding-left: 10px;
  outline: none;
  color: rgb(0, 0, 0);
}

.dialog main form .row input:hover {
  cursor: pointer;
}

.dialog main form .actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.dialog main form button {
  width: 40%;
  height: 36px;
  border-radius: 4px;
  outline: none;
  color: rgb(0, 0, 0);
}

.dialog main form button:hover {
  cursor: pointer;
}