.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url('/images/main-background.jpg') no-repeat center fixed;
  background-size: cover;
}