<html>
<head>
    <script type="application/javascript" src="static/js/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="static/js/game.js"></script>
</head>
<body>
<div id="movie"></div>
<div id="message"></div>
<input type="text" id="answer" autofocus="autofocus"/>
<div id="players"></div>
</body>
</html>
